*{
	padding-top: 0;
	margin: 0;
}

@font-face{
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Regular.ttf);
	 
}

.container{
	background-color: #161D2F;
	padding-bottom: 50px;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 180px 76px 180px;
}

.logo{
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	padding: 0;
	transition: 0.8s;
}

.logo:hover{
	transition: 0.8s;
	color: #3043A9;
}

.nav{
display: flex;
justify-content: center;
}

ul{
	display: flex;
	justify-content: space-between;
}

ul li{
	list-style-type: none;
}

li a{
	text-decoration: none;
	font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
color: #FFFFFF;
transition: 0.8s;
}

li a:hover{
	color: #3043A9;
}

.text__nav{
	padding-left: 40px;
}

.text__nav1{
	padding-left: 40px;
	padding-right: 160px;
}

.text__nav2{
	padding-left: 160px;
}

.Join__btn{
	background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
	border-radius: 28px;
	width: 157px;
	height: 53px;
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
	opacity: 1;
	transition: 0.8s;
}

.Join__btn:hover{
	opacity: 0.5;
	transition: 0.8s;
}

.osnov__txt{
	display: flex;
	flex-flow: column;
}

.welcome{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
padding-bottom: 10px;
}

h1{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 62px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.opisanie{
	width: 689px;
	height: 90px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}

.btns{
	display: flex;
	justify-content: center;
	flex-flow: row;
	align-items: center;
	margin-top: 30px;
}

.contactus__btn{
	border-radius: 28px;
	width: 157px;
	height: 53px;
	border-color: #FFFFFF;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #FFFFFF;
	transition: 0.8s;
	margin-left: 20px;
	background: #161D2F;
}

.contactus__btn:hover{
	background: #3043A9;
	opacity: 0.5;
	transition: 0.8s;
	color: #FFFFFF;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.negr{
	margin-top: 40px;
	position: relative;
}

.negr__imgdiscription{
	box-sizing: border-box;
	position: absolute;
  top: 250px;
  left: 500px;
}

.niz{
	height: 814px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prog{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: center;
color: #262626;
margin-top: 100px;
}
.WE{
	
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 150%;
text-align: center;
text-transform: capitalize;
color: #222222;
margin-top: 10px;
}

.galery {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.kartinka{
width: 350px;
height: 433px;
margin-left: 30px;
display: flex;
flex-flow: column;
}

.kartinka__naz {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
color: #222222;
margin-left: 19px;
}

.kartinka__p1 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
color: #222222;
margin-left: 19px;
}
.kartinka__p2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #4B4B4B;
margin-left: 19px;
}

.silka{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #3043A9;
margin-top: 20px;
margin-left: 19px;
transition: 0.8s;

}

a{
	text-decoration: none;
}

.foto{
width: 350px;
height: 240px;
opacity: 1;
transition: 0.8s;
}

.foto:hover{
	width: 400px;
	height: 290px;
	opacity: 0.7;
	transition: 0.8s;
	}