@font-face {
    font-family: font1;
    src: url(../fonts/20686.ttf);
}
@font-face {
    font-family: font2;
    src: url(../fonts/ofont.ru_Adys.ttf);
}

*{
    margin: 0;
    padding: 0;
    background-color: #191A1C;

}

/* .head{
    font-family: 'font1';
    font-size: 18px;
} */
header{
    background-image: url(../img/Top\ Items.png);
}

main{

}

.blok{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 300px;
    margin-bottom: 50px;

}

h1{
    font-family: 'font2';
    font-size: 72px;
    color: white;
}

.podglav_txt{
    font-family: 'font2';
    font-size: 32px;
    margin-top: 20px;
    color: white;
}

.pozdravleniya{
    display: flex;
    flex-direction:column;
    margin-left: 200px;

}

.dinara_pozdravlenie{
    margin-top: 20px;
font-size: 32px;
font-family: 'font2';
color: white;
}

.dinara_podpis{
    font-family: 'font1';
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.vika_pozdravlenie{
    margin-top: 20px;
    font-size: 32px;
    font-family: 'font2';
    color: white;
    }
    
    .vika_podpis{
        font-family: 'font1';
        font-size: 20px;
        margin-top: 20px;
        color: white;
    }

    .airat_pozdravlenie{
        margin-top: 20px;
        font-size: 32px;
        font-family: 'font2';
        color: white;
        }
        
        .airat_podpis{
            font-family: 'font1';
            font-size: 20px;
            margin-top: 20px;
            color: white;
        }

        .danya_pozdravlenie{
            margin-top: 20px;
            font-size: 32px;
            font-family: 'font2';
            color: white;
            }
            
            .danya_podpis{
                font-family: 'font1';
                font-size: 20px;
                margin-top: 20px;
                color: white;
            }

            .dinar_pozdravlenie{
                margin-top: 20px;
                font-size: 32px;
                font-family: 'font2';
                color: white;
                }
                
                .dinar_podpis{
                    font-family: 'font1';
                    font-size: 20px;
                    margin-top: 20px;
                    color: white;
                }

                .ya_pozdravlenie{
                    margin-top: 20px;
                    font-size: 32px;
                    font-family: 'font2';
                    color: white;
                    }
                    
                    .ya_podpis{
                        font-family: 'font1';
                        font-size: 20px;
                        margin-top: 20px;
                        color: white;
                    }
.pozdravlenie_stih{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.stih{
    font-size: 32px;
                font-family: 'font2';
                color: white;
}
.galery{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.galery_podpis{
    display: flex;
    justify-content: center;
}

.photo_grup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img1{
    width: 600px;
}
.img2{
    width: 600px;
    
}
.photo_grup2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img3{
    width: 600px;
}

.photo_grup3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img4{
    width: 600px;
}

.img5{
    width: 600px;
}

.img6{
    width: 600px;
}

.img7{
    width: 600px;
}
.img8{
    width: 600px;
}
.img9{
    width: 600px;
}

.photo_grup4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photo_grup5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}